Django>=2.2,<2.3
wagtail>=2.9,<3.0
gunicorn==19.9.0
gevent==1.4.0
ipython==7.16.3
django-debug-toolbar


# Storage
psycopg2==2.8.3
wagtailmenus>=3.0
django-minio-storage==0.3.5

# API
wagtail-graphql
graphene-django
django-cors-headers
